@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700");

* {
	padding: 0;
	margin: 0;
	font-family: 'Open sans';
	font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.7rem;
	box-sizing: border-box;
}

div#header {
	width: 100%;
	height: 60px;
	background-color: #2c3e50;
	color: white;
	margin: 0 auto;
    position: fixed;
    z-index: 2;
}

a {
	text-decoration: none;
}

.logo {
	float: left;
	margin-top: 4px;
	margin-left: 15px;
}

.logo a {
	font-size: 1.8em;
	color: white;
}

.logo a span {
	font-weight: 600;
}

div#container {
	width: 100%;
	margin: 0 auto;
    padding-top: 60px;
}

.sidebar {
	width: 250px;
	height: 100%;
	background-color: #171717;
	float: left;
    position: fixed;
    z-index: 1;
}

ul#nav {
	
}

ul#nav li {
	list-style; none;
}

ul#nav li a {
	color: #ccc;
	display: block;
	padding: 12px;
	font-size: 1.2em;
	border-bottom: 1px solid black;
}

ul#nav li a:hover {
	background-color: black;
	color: #e67e22;
	padding-left: 30px;
}

ul#nav li a.selected {
	background-color: black;
	color: #e67e22;
	padding-left: 30px;
}

.content {
	width: auto;
	margin-left: 250px;
	height: auto;
	background-color: #D9DADB;
	padding: 30px 30px 30px 30px;
}


div#box  {
	padding: 0px 60px 30px 60px;
	background-color: #F7F7F7;
}

h1 {
  color: #FF7700;
  font-weight: 700;
  font-size: 1.7rem;
  padding-bottom: 20px;
  padding-top: 70px;
  border-bottom: 1px black solid;
}

h3 {
    font-weight: 500;
    font-size: 1.3rem;
}

p {
    padding: 5px;
    padding-top: 20px;
}